            .center-content {
                text-align: center;
                margin: auto;
                max-width: 800px;
                padding: 10px;
            }

            #saveLocation, #locationDisplay, #nearestLocationDisplay, #coordinatesDisplay, #distanceDisplay, #kindergarten, #elementary, #middleSchool, #highSchool, #university {
                display: inline-block;
                vertical-align: middle;
                margin: 10px 5px;
            }

            #locationDisplay, #nearestLocationDisplay, #coordinatesDisplay, #distanceDisplay {
                border: 1px solid #ddd;
                background-color: #f9f9f9;
                padding: 5px 10px;
                max-width: 400px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            #mapid {
                height: 700px;
            }
